.formSearch{
    button{
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        right: 0;
        line-height: 28px;
        color: #DDD;
        background: #FFF;
        border: 0;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        i{
            font-size: 15px;
        }
    }
}