.formSubscribe{
    button, input{
        display: inline-block;
        vertical-align: middle;
    }
    input{
        width: 300px;
        padding: 12px 20px;
        box-shadow: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-top: 1px solid #BEBEBE;
        border-left: 1px solid #BEBEBE;
        border-bottom: 1px solid #BEBEBE;
    }
    button{
        width: 120px;
        padding: 12px 0;
        border: 1px solid #BEBEBE;
        background: #D1D1D1;
        color: #808080;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }
}