:global {
    $table-border-color: #888;

    .checkout {
        margin-bottom: 60px;
        table {
            width: 100%;
            border: 1px solid $table-border-color;
            margin-bottom: 30px;
            tr {
                td {
                    padding: 10px 20px;
                    text-align: center;
                    &:first-child {
                        text-align: left;
                    }
                    &:nth-child(2) {
                        width: 15%;
                    }
                    &:nth-child(3) {
                        width: 15%;
                        i {
                            margin-right: 5px;
                        }
                    }
                }
            }
            thead {
                font-weight: bold;
                td {
                    border: 1px solid $table-border-color;
                }
            }
            tbody {
                td {
                    padding-top: 20px;
                    padding-bottom: 20px;
                    &:first-child {
                        div {
                            display: flex;
                            & span:first-child {
                                text-align: center;
                                img {
                                    max-width: 150px;
                                    height: auto;
                                }    
                            }
                            
                        }
                    }
                }
            }
            tfoot {
                td {
                    border: 1px solid $table-border-color;
                    &:nth-child(1) {
                        border-right: none;
                    }
                    &:nth-child(2) {
                        font-weight: bold;
                        border-left: none;
                    }
                }
            }
        }
        .checkoutBox {
            & > div:first-child {
                & > div {
                    display: inline-block;
                    width: 60px;
                    text-align: center;
                }
                span {
                    display: none;
                    margin-left: 60px;
                }
                &.termsError {
                    color: #d61e1e;
                    span {
                        display: block;
                    }
                }
            }
            & > div:last-child {
                text-align: right;
                a {
                    display: inline-block;
                    border-radius: 5px;
                    // border: 1px solid #FF5502;
                    background: #FF5502;
                    color: #fff;
                    font-weight: bold;
                    padding: 10px 20px;
                    transition: all 1s;
                    &:hover {
                        background: #ff9a31;
                    }
                }
            }
        }
        .checkoutSuccess {
            text-align: center;
        }
    }
}