
:global {
    .myAccount {
        .accountInfo {
            margin-bottom: 40px;
            & > div {
                padding: 15px 0;
                span {
                    &:first-child {
                        font-weight: bold;
                    }
                    &:last-child {
                        i {
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
        .history {
            h3 {
                margin-bottom: 30px;
            }
            & > div {
                align-items: center;
                text-align: center;
                &.header {
                    background: #ff9a31;
                    color: #fff;
                    text-align: center;
                    font-weight: bold;
                }
                span {
                    padding-top: 10px;
                    padding-bottom: 10px;
                    i {
                        margin-right: 5px;
                    }
                }
                .redeemDetail {
                    display: inline-block;
                    border-radius: 5px;
                    background: #FF5502;
                    color: #fff;
                    font-weight: bold;
                    padding: 10px 20px;
                    transition: all 1s;
                    &:hover {
                        background: #ff9a31;
                    }
                }
            }
        }
    }
}