:global {
    .prizeDetail {
        .prizeInfo {
            margin: 20px 20px 60px 20px;
            .imageCol {
                img {
                    width: auto;
                    max-height: 400px;
                }
            }
            .infoCol {
                & > div {
                    margin-bottom: 1rem;
                }
                .prizeID {
                    color: #777;
                    font-size: 80%;
                    font-weight: bold;
                    span {
                        margin-left: 10px;
                    }
                }
                .point {
                    font-size: 20px;
                    margin-top: 2rem;
                    margin-bottom: 2rem;
                    span {
                        margin-left: 10px;
                    }
                }
                .field {
                    font-size: 120%;
                    span {
                        &:first-child {
                            font-weight: bold;
                        }
                        &:nth-child(2) {
                            margin-left: 30px;
                        }
                    }
                }
                .quantity {
                }
                .checkout {
                    margin-top: 2rem;
                    margin-bottom: 2rem;
                    .checkoutBtn {
                        display: inline-block;
                        border-radius: 5px;
                        background: #FF5502;
                        color: #fff;
                        font-weight: bold;
                        padding: 10px 20px;
                        transition: all 1s;
                        &:hover {
                            background: #ff9a31;
                        }
                    }
                }
                .share {
                    display: flex;
                    justify-content: space-around;
                    margin-top: 50px;
                    i {
                        font-size: 20px;
                        color: #777;
                        cursor: pointer;
                        &:hover {
                            color: #FF5502;
                            font-weight: 900;
                        }
                    }
                }
            }
        }
        .descriptionTab {
            & > ul {
                display: flex;
                border-bottom: 1px solid #bbb;
                li {
                    font-size: 110%;
                    font-weight: bold;
                    background: #e6e6e6;
                    cursor: pointer;
                    border: 1px solid #bbb;
                    margin-bottom: -1px;
                    padding: 5px 15px;
                    &:not(:last-child) {
                        margin-right: 8px;
                    }
                    &:not(.activeTab) {
                        color: #777;
                        &:hover {
                            background: #fff;
                        }
                    }
                    &.activeTab {
                        background: #fff;
                        border-bottom-color: #fff;
                    }
                }
            }
            & > div {
                padding: 20px;
                margin-bottom: 60px;
            }
        }
    }
}