:global {
    html, body{
        width: 100%;
    }
    body{
        color: #333;
        font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
    }
    input[type="checkbox"]{ cursor: pointer;}
    a{
        color: #333;
        text-decoration: none;
        cursor: pointer;
        &:hover{
            color: #333;
            text-decoration: none;
        }
        &:focus{
            outline: none;
        }
        &.withLine{
            &:hover{
                text-decoration: underline
            }
        }
    }
    img{
        width: 100%;
        height: auto;
    }
    form{
        label, input{
            display: inline-block;
            vertical-align: middle;
        }
        label{
            width: 100px;
        }
    }
    h1{
        font-size: 35px;
        line-height: 50px;
    }
    ul{
        margin: 0
    }
    .f-left{
        float: left
    }
    .f-right{
        float: right;
    }
    .clearfix{
        &:after{
            content: '';
            display: table;
            clear: both;
        }
    }

    .container{
        @media screen and (min-width: 1400px) {
            max-width: 1280px;
        }
    }

    main{
        padding: 40px 0 100px 0;
        .container {
            min-height: 200px;
        }
    }

    .page-public{
        padding: 40px 0 80px
    }

    footer{
        padding: 40px 0 80px 0;
        background: #E5E5E5
    }
}