:global{
    .loginForm{
        width: 100%;
        max-width: 400px;
        margin: auto;
        span.postal{
            position: absolute;
            left: 0;
            padding: 11px 16px;
            background: #FFF;
            border-right: 1px solid #D9D9D9;
        }
    }

}