.headerTop{
    padding: 10px 0;
    background: url('/static/images/header/header_website_bg.jpg') repeat-x left top;
    background-size: 100% 100%;
}

.headerMain{
    padding: 20px 0;
    background: url('/static/images/header/header_main_bg.jpg') repeat-x left top;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 100% 100%;
}

.headerBot{
    background: #F5F5F5;
}

.headerMainRightWrapper{
    margin-top: 20px;
    > * {
        display: inline-block;
        vertical-align: middle;
        color: #FFF;
        margin-left: 25px;
        font-weight: 600;
        i{
                font-size: 21px;
        }
    }
}

.logo{
    width: 60px;
    display: block;
}