.navigation{
    margin-left: -12px;
    margin-right: -12px;
    li{
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        a{
            color: #575757;
            line-height: 53px;
            padding: 0 12px;
            box-sizing: border-box;
            position: relative;
            font-size: 16px;
            display: inline-block;
            border-bottom: 3px solid transparent;
            font-weight: 600;
            letter-spacing: 0.2px;
        }
        &:hover{
            a{
                border-color: #ff5501;
                color: #333;
            }
        }
    }
}

.navChildActive{
    a{
        border-color: #ff5501 !important;
        color: #333;
    }
}