.topLink{
    float: right;
    > * {
        display: inline-block;
        vertical-align: top;
        position: relative;
        font-weight: 600;
    }
    li{
        &:not(:first-child):before{
            position: absolute;
            content: '|';
            font-size: 16px;
            color: #FFF;
            left: -1px;
        }
        a{
            color: #FFF;
            padding: 0 20px;
            font-size: 15px;
            i{
                color: #FFF;
                font-size: 15px;
            }
        }
    }
    div{
        a{
            padding: 3px 5px;
            border: 2px solid #FFF;
            color: #FFF;
            font-size: 14px;
        }
    }
}