.breadcrumb {
    padding: 15px 0;
    & > span {
        padding: 5px 0;
        &:not(.active):hover {
            text-decoration: underline;
        }
        &.active {
            color: #777;
        }
        &:not(:last-of-type) {
            position: relative;
            margin-right: 40px;
            &::before {
                content: '\f105';
                font-size: 18px;
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                width: 10px;
                text-align: center;
                position: absolute;
                left: 100%;
                transform: translate( 150%, 0);
            }
        }
        &:last-of-type::before {
            content: none;
        }
    }
}
