.numberInput {
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }
    input[type=number] {
        -moz-appearance:textfield;
    }
    & > *:not(:last-child) {
        margin-right: 10px;
    }
    a {
        color: #888;
        padding: 5px 0;
        -webkit-user-select: none; /* Chrome/Safari */        
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+ */
        -o-user-select: none;
        user-select: none;
        &:active {
            color: #FF5502 !important;
        }
    }
    input {
        text-align: center;
        width: 3em;
        &:focus {
            outline: none;
        }
    }
}