.footerIcon{
    a{
        display: inline-table;
        vertical-align: middle;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #7a7a7a;
        color: #FFF;
        text-align: center;
        margin-left: 15px;
        &:hover{
            color: #FFF;
        }
        i{
            font-size: 25px;
            display: table-cell;
            vertical-align: middle;
        }
    }
}