:global{
.prizeList {
    margin: 20px 0 100px 20px;
    padding: 0 15px;
    .pricelistHeader {
        display: flex;
        margin-bottom: 20px;
        & > div:first-child {
            
        }
        & > div:last-child {
            margin-left: auto;
            & > *:not(:last-child) {
                margin-right: 20px;
            }
            div {
                display: inline-block;
                border-radius: 5px;
                border: 1px solid #888;
                padding: 3px 5px;
                select {
                    width: 150px;
                    background: transparent;
                    border: none;
                    outline: none;
                }
            }
            i {
                color: #777;
                font-size: 20px;
                width: 30px;
                height: 100%;
                cursor: pointer;
                position: relative;
                vertical-align: top;
                &::before {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                &:hover {
                    color: inherit;
                }
            }
        }
    }
    .list {
        .listItem {
            height: 300px;
            padding: 20px 0;
            border-bottom: 1px solid #cecece;
            .imageCol {
                height: 100%;
                text-align: center;
                img {
                    width: auto;
                    max-height: 100%;
                }
            }
            .infoCol {
                & > div {
                    margin-bottom: 1rem;
                    i {
                        font-size: 18px;
                    }
                    &:nth-child(1),
                    &:nth-child(3) {
                        margin-bottom: 2rem;
                    }
                    &:nth-child(2) {
                        font-size: 20px;
                        & i {
                            margin-right: 10px;
                        }
                    }
                    &:nth-child(4) i {
                        color: #777;
                        cursor: pointer;
                        margin-right: 60px;
                        &:hover {
                            color: #FF5502;
                            font-weight: 900;
                        }
                    }
                }
            }
        }
    }
    .pricelistFooter {
        display: flex;
        margin: 20px 0;
        & > div:first-child {
            line-height: 29px;
            span {
                font-weight: bold;
                margin-right: 10px;
                &:not(.activePage) {
                    color: #009ff5;
                    cursor: pointer;
                }
                &.activePage {
                    cursor: default;
                }
            }
            i {
                width: 29px;
                height: 29px;
                color: #676767;
                border: 1px solid #676767;
                cursor: pointer;
                position: relative;
                vertical-align: middle;
                &::before {
                    display: block;
                    text-align: center;
                    position: relative;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
        & > div:last-child {
            margin-left: auto;
            & > *:not(:last-child) {
                margin-right: 20px;
            }
            div {
                display: inline-block;
                border-radius: 5px;
                border: 1px solid #888;
                padding: 3px 5px;
                select {
                    width: 3em;
                    background: transparent;
                    border: none;
                    outline: none;
                }
            }
        }
    }
}
}